<?xml version="1.0"?>
<robot name="hande" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:arg name="use_gazebo" default="false"/>

  <link name="world" />

  <link name="base_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0.04607"/>
      <mass value="0.86387"/>
      <inertia ixx="1.22763e-05" iyy="1.22763e-05" izz="1.22763e-05" ixy="0.0" ixz="0.0" iyz="0.0" />
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="package://hande_description/meshes/visual/base_link.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="">
        <color rgba="0.2 0.2 0.2 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="package://hande_description/meshes/collision/base_link.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <joint name="world_fixed_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    <parent link="world"/>
    <child link="base_link"/>
  </joint>

  <link name="hande_left_finger">
    <inertial>
      <origin rpy="0 0 0" xyz="0.02262 -0.00759 0.00738"/>
      <mass value="0.03804"/>
      <inertia ixx="1.22763e-05" iyy="1.22763e-05" izz="1.22763e-05" ixy="0.0" ixz="0.0" iyz="0.0" />
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://hande_description/meshes/visual/left_finger.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="">
        <color rgba="0.8 0.8 0.8 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://hande_description/meshes/collision/left_finger.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <link name="hande_right_finger">
    <inertial>
      <origin rpy="0 0 0" xyz="-0.02262 0.00759 0.00738"/>
      <mass value="0.03804"/>
      <inertia ixx="1.22763e-05" iyy="1.22763e-05" izz="1.22763e-05" ixy="0.0" ixz="0.0" iyz="0.0" />
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://hande_description/meshes/visual/right_finger.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="">
        <color rgba="0.8 0.8 0.8 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://hande_description/meshes/collision/right_finger.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <joint name="hande_left_finger_joint" type="prismatic">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="base_link"/>
    <child link="hande_left_finger"/>
    <axis xyz="0 -1 0"/>
    <limit effort="130" lower="0" upper="0.025" velocity="0.15"/>
  </joint>

  <joint name="hande_right_finger_joint" type="prismatic">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="base_link"/>
    <child link="hande_right_finger"/>
    <axis xyz="0 1 0"/>
    <limit effort="130" lower="0" upper="0.025" velocity="0.15"/>
    <mimic joint="hande_left_finger_joint" multiplier="1" offset="0"/>
  </joint>

  <ros2_control name="HandESystem" type="system">
    <hardware>
      <xacro:if value="$(arg use_gazebo)">
        <plugin>mock_components/GenericSystem</plugin>
        <param name="mock_sensor_commands">true</param>
      </xacro:if>

      <xacro:unless value="$(arg use_gazebo)">
        <plugin>mock_components/GenericSystem</plugin>
        <param name="mock_sensor_commands">true</param>
      </xacro:unless>
    </hardware>

    <joint name="hande_left_finger_joint">
      <command_interface name="position"/>
      <state_interface name="position"/>
    </joint>

    <joint name="hande_right_finger_joint">
      <command_interface name="position"/>
      <state_interface name="position"/>
    </joint>
  </ros2_control>

</robot>
