<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="hande_gazebo" params="robot_name">

    <xacro:property name="hande_control_share" value="$(find hande_control)" />

    <gazebo>
      <plugin name="gz_ros2_control::GazeboSimROS2ControlPlugin" filename="gz_ros2_control-system">
        <robot_param>robot_description</robot_param>
        <robot_param_node>robot_state_publisher</robot_param_node>
        <update_rate>100.0</update_rate>
        <parameters>${hande_control_share}/config/hande_controllers.yaml</parameters>
      </plugin>
    </gazebo>

  </xacro:macro>
</robot>
